.application {
  min-height: 680px;
  padding: 100px 0 112px 0;
  background: url(../img/application/application-bg.jpg) center center no-repeat;
  background-size: cover;
  &__title {
    color: #fff;
    @include bold;
    font-size: 36px;
    text-transform: uppercase;
  }
  &__subtitle {
    color: #fff;
    @include medium;
    font-size: 20px;
    width: 50%;
  }
  .error {
    border: 1px solid red;
  }
  label.error {
    width: 300px;
    font-size: 13px;
    border: none;
    text-align: center;
    margin-top: 10px;
    @include bold;
    color: #fff;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  &__block {
    margin-top: 36px;
  }
  &__input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    margin-top: 15px;
    padding: 20px;
    box-sizing: border-box;
    &::placeholder {
      color: #4b4b4b;
      font-size: 14px;
      line-height: 66px;
    }
    &:first-of-type {
      margin-top: 0px;
    }
  }
  &__button {
    margin-top: 20px;
  }
}
@media all and (max-width: 575px) {
  .application {
    text-align: center;
    &__subtitle {
      width: 100%;
    }
    label.error {
      width: 260px;
    }
  }
  .form {
    width: 100%;
    align-items: center;
    &__input {
      width: 260px;
    }
  }
}